body {
  background: #eee;
  font-family: sans-serif;
}

/* ignore!margin between nifty and pink box*/
.card {
  width: 400px;
  background: rgb(255, 255, 255);
  margin: 6px auto;
}

/*nifty card*/
.title {
  background: #e3f4ff;
  border: 8px;
}

.content {
  background: #ffe3e7;
  margin-block: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.button-container {
  background: #537b88;
}

/*big button*/
button {
  background: white;
  border: 1px solid #eee;
}